<div class="control-group">
    <h4 class="signin-heading black">{{locale.record}} {{locale.action}}</h4>
    <div class="signin">
        <blockquote class="error" ng-show="error">
            <h5 class="text-danger">{{locale.actionerrNoReason}}</h5>
        </blockquote>
    </div>
    <div class="panel-group col-md-12">
        <div class="panel-heading">
            <h5 class="panel-title">{{locale.actionComments}} ({{actionupd.actionTaken.length || 0}} of 500 characters)</h5>
        </div>
        <div>
            <textarea class="form-control square" maxlength="500" rows="3" ng-model="actionupd.actionTaken"></textarea>
        </div>
        <p/>
        <div ng-hide="actionupd.photos.length >= config.MAXPHOTOS">
            <button camera ng-model="actionupd.picture" class="btn btn-default btn-lg btn-block" ng-click="photo()">
                <div class="pad-left pull-left">{{locale.photo}}</div>
                <div class="pad-right pull-right">
                    <i class="glyphicon glyphicon-camera"></i>
                </div>
            </button>
            <!-- source - album or library -->
            <button camera source="album" ng-model="actionupd.picture" class="btn btn-default btn-lg btn-block" ng-click="addphoto()">
                <div class="pad-left pull-left">{{locale.addphoto}}</div>
            </button>
        </div>
        
        <p></p>
            <div  id="imgthumbs" style="position:relative" ng-repeat="p in piclist">
                <img class="img-responsive" ng-src="{{p.pic}}"></img>
                <div ng-show="p.haveMark" class="markerimg" style="top: 10px; left: 10px;"></div>
            </div>
<!--
            <div  id="imgthumbs" style="position:relative" ng-repeat="p in actionupd.photos">
                <store-img class="img-responsive" ng-src="{{p.picture.orgSrc}}"></store-img>
                <div ng-show="p.picture.x" class="markerimg" style="top: 10px; left: 10px;"></div>
            </div>
-->
    </div>
    <!-- <div class="tile-pics">
    <a href="" class="col-xs-3 col-md-2 pic-th-w" ng-repeat="p in actionupd.photos">
        <img class="img-responsive" ng-src="{{p.picture.img}}" /> 
        <store-img class="img-responsive" prom="p.prom" ng-src="{{p.picture.src}}"></store-img>

    <span ng-show="p.picture.x" class="fa fa-map-marker fa-2x white-color stroke" style="position: absolute; top: {{p.picture.localy}}px; left: {{p.picture.localx}}px;"> </span>
            <div class='pic-coords'>[{{p.picture.x}}, {{p.picture.y}}]</div>
    </a>
    </div>
--></div>
<p class='space'></p>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button class="btn btn-lg btn-white pull-left" type="button" ng-click="back()">{{locale.back}}</button>
    <button class="btn btn-lg btn-success pull-right" type="button" ng-click="finish()">
       {{locale.finish}} 
           <i class="fa fa-spinner fa-spin" ng-show="sending"></i>
    </button>
</div>
</div>