<h4 class="signin-heading black">{{locale.actionCompleted}}</h4>
<div class="container">
    <p></p><br/><br/>
    <h5 class="centre-box page-header">{{locale.whatnext}}</h5>
    <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="go('/createaction')">
        <div class="pad-left pull-left">{{locale.anotherAction}}</div>
    </button>
    <button type="submit" class="btn btn-default btn-lg btn-block pull-left" ng-click="go('/obsrvtn')">
    <div class="pad-left pull-left">{{locale.newObs}}</div>
    </button>
    <button type="submit" class="pull-left btn btn-default btn-lg btn-block" ng-click="go('/commsndtl')">
        <div class="pad-left pull-left">{{locale.commissionHome}}</div>
    </button>
</div>
