<h4 class="signin-heading black">{{locale.actionPhoto}}</h4>
<div class="container">
    
    
    
    <button camera ng-model="observation.picture" class="btn btn-default btn-lg btn-block" ng-click="photo()">
        <div class="pad-left pull-left">{{locale.photo}}</div>
        <div class="pad-right pull-right">
            <i class="glyphicon glyphicon-camera"></i>
        </div>
    </button>
    <!-- source - album or library -->
    <button camera source="album" ng-model="observation.picture" class="btn btn-default btn-lg btn-block" ng-click="addphoto()">
        <div class="pad-left pull-left">{{locale.addphoto}}</div>
    </button>    
    
</div>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button type="submit" class="pull-left btn btn-white btn-lg" ng-click="go('/actiondetails')">{{locale.back}}</button>&nbsp;
    <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="continue()">{{locale.continue}}</button>
</div>