<!--
<h4>Place marker</h4>
-->
<!--
<canvas ng-model="picturedata" width="200" height="200" id="picture-canvas" img="{{picture}}" mark control='markControl'></canvas>
-->

<div style="position:relative" id="piccontainer">
    <div id="capturedpic" class='centre'>
        <img id='picimg' src=''>
         <div ng-show="showmarker" id="marker" class="markerimg"></div>
    </div>
</div>
<!--
<img ng-src="{{picture}}">
-->
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
   
    <button type="submit" class="pull-left btn btn-white btn-lg" ng-click="reset();">{{locale.reset}}</button>&nbsp;
    <button type="submit" class="btn btn-danger btn-lg" ng-click="cancel()">{{locale.cancel}}</button>
    <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="finish()">
        {{locale.add}} <span ng-hide="addPic">{{locale.photo}}</span>
         <i class="fa fa-spinner fa-spin" ng-show="addPic"></i>
    </button>
</div>
