<div class="control-group">
    <h4 class="signin-heading black">{{locale.acceptandcloseaction}}</h4>
    <div class="signin">
        <blockquote class="{{!error||'error'}}" ng-show="error">
            <h5 class="text-danger">{{locale.closeActionReason}} {{locale.is}} {{locale.required}}</h5>
        </blockquote>
    </div>
    <div class="panel-group col-md-12">
        <div class="panel-heading">
            <h5 class="panel-title">{{locale.closeActionReason}} ({{actionupd.actionTaken.length || 0}} of 500 characters)</h5>
        </div>
        <div>
            <textarea class="form-control square" maxlength="500" rows="3" ng-model="actionupd.actionTaken"></textarea>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button class="btn btn-lg btn-white pull-left" type="button" ng-click="back()">{{locale.back}}</button>
    <button class="btn btn-lg btn-success pull-right" type="button" ng-click="finish()">{{locale.finish}}</button>
</div>
