<h4 class="signin-heading black">{{locale.yjs320}}</h4>
<div class="container">
    <p>
        <br>
    </p>
    <div class="well centre">
        <h3>
            <b>{{locale.yj}}</b>
        </h3>
        <h4>
            <p>{{locale.contactOff}}</p>
        </h4>
        <h5 class="title">
            <p>{{locale.tel}} <a href="tel://{{locale.contactTel}}">{{locale.contactTel}}</a></p>
            <p>{{locale.email}} <a href="mailto:{{locale.contactEmail}}">{{locale.contactEmail}}</a></p>
        </h5>
    </div>
    <div class="well centre">
        <h3>
            <b>{{locale.techSup}}</b>
        </h3>
        <h5 class="title">
            <p>{{locale.tel}} <a href="tel://{{locale.techSupTel}}">{{locale.techSupTel}}</a></p>
            <p>{{locale.email}} <a href="mailto:{{locale.techSupEmail}}">{{locale.techSupEmail}}</a></p>
        </h5>
    </div>
    <div class="well centre">
        <h3>
            <b>{{locale.faqs}}</b>
        </h3>
        <p>{{locale.faqsText}}</p>
        <div>
            <div class="row">
                <h3>
                    <div class="col-md-12">
                        <a href="#/browser/http://www.yellowjacket.net/why-yellowjacket/mobile-app-faqs" class="btn btn-medium btn-default btn-block">
                            <p>
                                <div>{{locale.faqs}}</div>
                            </p>
                        </a>
                    </div>
                </h3>
            </div>
        </div>
    </div>
    <div class="centre">{{locale.copyright}}<br>
        {{locale.version}} {{config.version}}
    </div>
</div>
<br>
<br>
<div class="centre pic-coords">{{agent}}</div>