<div id="floortopcontainer" class="control-group">
    <h4 class="signin-heading black">{{observation.selectedfloor.description}}</h4>
    <div ng-hide="reading" id="floor-container" style="position:relative"  >
        <div id="floorpic" class='centre'>
            <img id='flrimg' src="">
            <div ng-show="showmarker" id="marker" class="markerimg"></div>
        </div>
    </div>
    <canvas id="holderCanvas" />
</div>


<div ng-show="reading" class="mainspin" centred-spin>
</div>

<div class="navbar navbar-fixed-bottom pad-left pad-right black">

<div class="zoom-fixed-bottom white">
    <input type="range" class="zoom-range" ng-model="rangeval">
</div>
    <button type="submit" class="pull-left btn btn-white btn-lg" ng-click="cancel()">{{locale.back}}</button>&nbsp;
    <button type="submit" class="resetZoom btn btn-danger btn-lg" ng-click="reset()">{{locale.reset}}</button>
    <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="finish()">{{locale.continue}}</button>
</div>