
<h4 class="signin-heading black">{{locale.yjs280}}</h4> 
<div class="signin">
        <blockquote class="error" ng-show="!errmsg==''">
            <h5 class="text-danger">{{errmsg}}</h5>
        </blockquote>
</div>







<div class="panel-group col-md-12" id="accordion">
  <div ng-repeat="qheader in selectedInspectionQuestionHeaders" class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="accordion-toggle" ng-click="expandThis(qheader,selectedInspectionQuestionHeaders)" data-toggle="collapse" data-parent="#accordion" href="#{{qheader.qdiv}}">
          <b>{{qheader.questionHeaderName}}</b> {{qheader.answeredInspectionQuestions.length}}/{{qheader.inspectionQuestion.length}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': qheader.open, 'glyphicon-chevron-right': !qheader.open}"></i>
        </div>
      </h4>
    </div>
    <div id="{{qheader.qdiv}}" class="panel-collapse collapse {{qheader.in}}">
        <!--Bootstrap Carousel-->
        <div class="carousel slide" style="margin:10px" data-interval="false" id="{{qheader.qdiv}}Carousel">
                <div class="carousel-inner">
                    <!--I found it difficult to set the first to active in a reliable manner, therefore the intro text-->
                    <div class="item active">
                        <!-- Previous and Next buttons as < > -->
                        <a data-slide="prev" href="#/inspanswer#{{qheader.qdiv}}Carousel" class="carouselctrl fa fa-2x fa-chevron-left pull-left"></a>
                        <a data-slide="next" href="#/inspanswer#{{qheader.qdiv}}Carousel" class="carouselctrl fa fa-2x fa-chevron-right pull-right"></a>
                        {{locale.inspectionquestionintro}}
                    </div>
                    <div ng-repeat="question in qheader.inspectionQuestion" class="item" style="margin-bottom:10px">
                        <!-- Previous and Next buttons as < > -->
                                <a ng-click="selectnext(qheader, $index)" class="carouselctrl fa fa-2x fa-chevron-right pull-right">&nbsp;&nbsp;</a>
                                <a ng-click="selectprev(qheader, $index)" class="carouselctrl fa fa-2x fa-chevron-left pull-right">&nbsp;&nbsp;</a>
                        <!-- OLD!!
                        <a data-slide="prev" href="#/inspanswer#{{qheader.qdiv}}Carousel" class="carouselctrl fa fa-2x fa-chevron-left pull-left"></a>
                        <a data-slide="next" href="#/inspanswer#{{qheader.qdiv}}Carousel" class="carouselctrl fa fa-2x fa-chevron-right pull-right"></a>
                        -->
                        <center><h4>{{locale.question}} {{$index+1}}</h4></center>
                        {{question.question}}
                        <br><br>
                        <!-- Inline error message for satisfaction -->
                        <span id="err{{question.inspectionQuestionId}}_satisfaction" 
                                      class="redText" style="display:none">{{locale.pleaseindicate_colon}} </span>
                        <span id="title{{question.inspectionQuestionId}}_satisfaction">{{locale.satisfactory_qm}}</span><br>
                        
                        <!-- Our three satisfaction buttons -->
                        <div class="btn-group btn-group-justified" style="margin-bottom:10px">
                            <!-- Make it green if selected OR if no satisfaction was set yet, otherwise default display -->
                            <div ng-class="{'btn btn-success': question.satisfaction=='Y' || !question.answered || question.answered==false, 'btn btn-default': question.satisfaction!='Y' && question.answered}" 
                                    ng-click="setSatisfaction('Y',question)">
                                    <!-- Fill it if selected OR display empty icon -->
                                    <i id="eval{{question.inspectionQuestionId}}_Y" 
                                        ng-class="{'fa fa-thumbs-up fa-lg': question.satisfaction=='Y', 'fa fa-thumbs-o-up fa-lg': question.satisfaction!='Y'}"></i> {{locale.yes}}
                            </div>
                            <!-- Make it red if selected OR if no satisfaction was set yet, otherwise default display -->
                            <div ng-class="{'btn btn-danger': question.satisfaction=='N' || !question.answered || question.answered==false, 'btn btn-default': question.satisfaction!='N' && question.answered}" 
                                    ng-click="setSatisfaction('N',question)">
                                    <!-- Fill it if selected OR display empty icon -->
                                    <i id="eval{{question.inspectionQuestionId}}_N" 
                                        ng-class="{'fa fa-thumbs-down fa-lg': question.satisfaction=='N', 'fa fa-thumbs-o-down fa-lg': question.satisfaction!='N'}"></i> {{locale.no}}
                            </div>
                            <!-- Make it orange if selected OR if no satisfaction was set yet, otherwise default display -->
                            <div ng-class="{'btn btn-warning': question.satisfaction=='X' || !question.answered || question.answered==false, 'btn btn-default': question.satisfaction!='X' && question.answered}"  
                                    ng-click="setSatisfaction('X',question)">
                                    <!-- Fill it if selected OR display empty icon -->
                                    <i id="eval{{question.inspectionQuestionId}}_X" 
                                        ng-class="{'fa fa-circle fa-lg': question.satisfaction=='X', 'fa fa-circle-o fa-lg': question.satisfaction!='X'}"></i> {{locale.notapplicable}}
                                </div>
                            </div>
                            
                            <center>
                                <!-- Display DONE button for validation if unanswered -->
                                <div ng-show="!question.answered || question.answered==false" 
                                     class="btn btn-success" ng-click="validateAnswer(question,qheader,1)">
                                        <i class="fa fa-check fa-lg"></i> {{locale.done}}</div>
                                <!-- Display EDIT button for resetting the question if answered -->
                                <div ng-show="question.answered==true" 
                                     class="btn btn-danger" ng-click="resetAnswer(question,qheader)">
                                        <i class="fa fa-pencil fa-lg"></i> {{locale.edit}}</div>
                            </center>
                    </div>
                </div>
        </div>
      </div>
    </div>
</div>
<p class="space"></p>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <div class="centre">
        <button type="submit" class="pull-left btn btn-white btn-lg" ng-click="goback()">{{locale.back}}</button>
        <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="continue()">{{locale.continue}}</button>
    </div>
</div>
