<div class="control-group">
    <h4 class="signin-heading black">{{locale.location}}</h4>
    <div class="signin">
        <blockquote class="error" ng-show="locnerror">
            <h5 class="text-danger">{{locale.sellocn}}</h5>
        </blockquote>
    </div>
    {{location}}
    <div>
        <div class="panel-group col-md-12" id="accordion">
            
            
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{locale.location }} 
                        ({{observation.locdesc.length || 0}} of 100 characters)
                </h4>
            </div>
            <div>
                <textarea class="form-control square" maxlength="100" rows="3" ng-model="observation.locdesc"></textarea>
            </div> 
            <p></p>
            <div ng-show="haveloc" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div class="accordion-toggle" ng-click="sitopen=!sitopen" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <b>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !sitopen, 'glyphicon-chevron-right': sitopen}"></i>{{locale.locationSelect}}</b> {{observation.selectedfloor.description}}
                        </div>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-repeat="fp in floors" class="btn-link btn-block" type="button" ng-click="selfloor(fp)" data-toggle="collapse" data-parent="#accordion" href="#collapseOne #collapseTwo">{{fp.description}}</div>
                    </div>
                </div>
            </div>
           
                <p class="space"></p>

        </div>
    </div>
<!--
     <div class="centre" ng-hide="haveloc" centred-spin>
-->
    </div>
    <div class="navbar navbar-fixed-bottom pad-left pad-right black">
        <button class="btn btn-lg btn-white pull-left" type="button" ng-click="goback()">{{locale.back}}</button>
        <button class="btn btn-lg btn-success pull-right" type="button" ng-click="confirm()">{{locale.continue}}</button>
    </div>
</div>