<div class="ng-cloak">
<h4 class="signin-heading black" ng-hide="loadingLarge && !background">{{locale.homepage}}
</h4>
<div class="signin" ng-hide="loadingLarge && !background">
        <blockquote class="error" ng-show="noaudits">
            <h5 class="text-danger">{{locale.no_audits_to_see}}</h5>
        </blockquote>
        <blockquote class="error" ng-show="noinsp">
            <h5 class="text-danger">{{locale.no_inspections_to_see}}</h5>
        </blockquote>
</div>

<div class="container" ng-hide="loadingLarge && !background">
    

    <div class="alert white" ng-show="isOffline > 0">{{locale.syncmsg}}</div>
    
    <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="commissions()">
        <div class="wrap pad-left pull-left">{{locale.mycommissions}}</div>
        <div class="pad-right pull-right">
            <div class="badge">{{coms.length || 0}}</div>
        </div>
    </button>
    <button type="submit" class="btn btn-default btn-lg btn-block pull-left" ng-click="actionlist()">
        <div class="wrap pad-left pull-left">{{locale.myactions}}</div>
        <div class="pad-right pull-right">
            <div class="badge">{{actions.length || 0}}</div>
        </div>
    </button>
    <button type="submit" class="pull-left btn btn-default btn-lg btn-block" ng-click="audstatus()">
        <div class="wrap pad-left pull-left">{{locale.myaudits}}</div>
        <div class="pad-right pull-right">
            <div class="badge">{{audits.length || 0}}</div>
        </div>
    </button>
    <button type="submit" class="btn btn-default btn-lg btn-block pull-left" ng-click="inspstatus()">
        <div class="wrap pad-left pull-left">{{locale.myinspections}}</div>
        <div class="pad-right pull-right">
            <div class="badge">{{inspects.length || 0}}</div>
        </div>
    </button>
    <button type="submit" class="btn btn-white btn-lg btn-block pull-left" ng-click="sync()">
        <div class="wrap pad-left pull-left">{{locale.synchronise}}
        <span ng-show="isOffline > 0"><br/></span>
        <div class="badge black" ng-show="isOffline > 0">Pending {{isOffline}}</div>
        </div>
        <div class="pad-right pull-right"> 
            <i class="glyphicon glyphicon-refresh" ng-hide="syncing"></i>
            <i class="fa fa-spin fa-spinner" ng-show="syncing"></i>
        </div>
    </button>

    <p class="space"></p>
<!--
    <div class="alert white alert-dismissable greyborder" ng-hide="hideComNote">
        <button type="button" class="close big" data-dismiss="alert" ng-click="hideCom();" aria-hidden="true">&times;</button>
        {{locale.userCommissions}}
    </div>
-->
  
     <div ng-show="sent > 3" class="well">
         
        User: {{yju.id}}, {{yju.userId}}, {{yju.organisation.name}}, license: {{yju.organisation.licenseHolder}}          <br/>
         
         Sent:
         <p ng-repeat="s in sentArray">
             {{s}}
         </p>
         <br>
         <button class="btn" ng-click="clearSent()">clear</button>
     </div>
</div>

<div ng-show="loadingLarge && !background" class="mainspin" centred-spin>
    {{loading}}
    <p class='container'>
    {{loadingState}}
    </p>
</div>
<div ng-show="loadingLarge && !background" class="centre">
<strong>{{locale.yourdata}}</strong>
</div>
    
<!--<div class="offline-fixed" ng-show="isOffline > 0"><div class="offline">{{isOffline}}</div></div>-->

<button class="sent-fixed btn btn-lg pull-left" type="button" ng-click="showSent()">{{locale.show}}</button>

</div>