<div class="control-group">
    <h4 class="signin-heading black">{{locale.WiFiAnd3G}}</h4>
    <div class="signin">
        <blockquote class="{{!error||'error'}}" ng-show="error">
            <h5 class="text-danger">{{locale.selectpref}}</h5>
        </blockquote>  
    </div>

<center>
  <table><tbody>  
    <tr>  
      <td>
        <h4><strong>{{locale.wifiNetHeader}}</strong></h4>
        <div ng-bind-html="locale.wifiConnection">&nbsp;&nbsp;</div>
      </td> 
      <td>&nbsp;
      </td>
      <td>
        <input id="wifiRadio" bs-switch data-on="success" ng-model="wifi" switch-on-label="ON" switch-off-label="OFF" switch-active="{{ isActive }}" switch-type="radio" switch-size="large" switch-icon="{{ icon }}" switch-animate="{{ animate }}">
      </td>   
    </tr> 
    <tr>
      <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
      <tr>  
        <td>
          <h4><strong>{{locale.3GNetHeader}}</strong></h4>
          <div ng-bind-html="locale.3GConnection"></div></td>
        <td>&nbsp;
        </td>
        <td>
          <input id="g3Radio" bs-switch ng-model="g3" switch-on-label="ON" switch-off-label="OFF" switch-active="{{ isActive }}" switch-type="radio" switch-size="large" switch-icon="{{ icon }}" switch-animate="{{ animate }}">
        </td> 
      </tr>  
    </tbody>  
  </table> 
</center>

<div id='nbar' class="navbar navbar-fixed-bottom pad-left pad-right black">
        <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="setpref()" ng-hide="nprefsSet">{{locale.continue}}</button>
        <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="setpref()" ng-show="nprefsSet">{{locale.done}}</button>
</div>
