<h4 class="signin-heading black">{{locale.obsPhoto}}</h4>
<div class="container">
<!--
    <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="manage()">
        <div class="pad-left pull-left">{{locale.editObsSummary}}</div>
    </button>
-->
    <button camera ng-model="observation.picture" class="btn btn-default btn-lg btn-block" ng-click="photo()">
        <div class="pad-left pull-left">{{locale.photo}}</div>
        <div class="pad-right pull-right">
            <i class="glyphicon glyphicon-camera"></i>
        </div>
    </button>
    <!-- source - album or library -->
    <button camera source="album" ng-model="observation.picture" class="btn btn-default btn-lg btn-block" ng-click="addphoto()">
        <div class="pad-left pull-left">{{locale.addphoto}}</div>
    </button>
</div>
<!-- <div>
            <img id="capturepic" src="{{observation.picture}}" ng-show="observation.picture">
    </div>
-->
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button type="submit" class="pull-left btn btn-white btn-lg" ng-click="go('/obsrvsum')">{{locale.back}}</button>&nbsp;
<!--
    <button type="submit" class="btn btn-danger btn-lg" ng-click="observation=null; go('/commsndtl')">{{locale.cancel}}</button>
-->
    <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="continue()">{{locale.continue}}</button>
</div>