<div class="control-group">
    <h4 class="signin-heading black">{{locale.reassign}} {{locale.action}}</h4>
    <div class="signin">
        <blockquote class="{{!error||'error'}}" ng-show="error">
            <h5 class="text-danger">{{locale.reassignActionReason}} {{locale.is}} {{locale.required}}</h5>
        </blockquote>
        <blockquote class="{{!error||'error'}}" ng-show="error1">
            <h5 class="text-danger">{{locale.reassignActionOrg}}</h5>
        </blockquote>
        <blockquote class="{{!error||'error'}}" ng-show="error2">
            <h5 class="text-danger">{{locale.reassignActionUser}}</h5>
        </blockquote>
    </div>
    <div class="container centre-box">
        <h5 class="page-header">{{selectedal.commissionTitle}}</h5>
        <h5>
            <strong>{{locale.reassignActionReason}} ({{actionupd.actionTaken.length || 0}} of 500 characters)</strong>
        </h5>
        <textarea id="aurutext" class="form-control" maxlength="500" rows="4" ng-model="actionupd.actionTaken"></textarea>
        <p></p>
        
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div class="accordion-toggle" ng-click="ctoggle(0)" data-toggle="collapse" data-parent="#accordion" href="#collapseOrg">
                            <b>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': copen[0], 'glyphicon-chevron-right': !copen[0]}"></i>{{locale.actionCompany}}</b>&nbsp;{{organisationName}}</div>
                    </h4>
                </div>
                <div id="collapseOrg" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-repeat="s in actionableUsers[cid].commissionUsers | orderBy:'organisationName'" class="btn-link btn-block" type="button" ng-click="organisation(s)" data-toggle="collapse" data-parent="#accordion" href="#collapseOrg #collapseOwner">&nbsp;{{s.organisationName}}</div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div class="accordion-toggle" ng-click="ctoggle(3)" data-toggle="collapse" data-parent="#accordion" href="#collapseOwner">
                            <b>
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': copen[3], 'glyphicon-chevron-right': !copen[3]}"></i>{{locale.actionOwner}}</b>&nbsp;{{userInfoName}}</div>
                    </h4>
                </div>
                <div id="collapseOwner" class="panel-collapse collapse">
                    <div class="allocated-bar">
                        <button class="btn pull-right" ng-class="{'black':selectedAllocation=='','white':selectedAllocation=='A'}" ng-click="selectedAllocation=''">{{locale.allcontacts}}</button>
                        <button class="btn pull-right allocated" ng-class="{'black':selectedAllocation=='A','white':selectedAllocation==''}" ng-click="selectedAllocation='A'">{{locale.allocated}}</button>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="s in users.organisationUsers | orderBy:'userInfoName' |filter:{allocationType:selectedAllocation}" class="btn-link btn-block" type="button" ng-click="actionOwner(s)" data-toggle="collapse" data-parent="#accordion" href="#collapseOne #collapseRisk #collapseOrg #collapseOwner">{{s.userInfoName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <p class="space"></p>
    </div>
</div>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button class="btn btn-lg btn-white pull-left" type="button" ng-click="back()">{{locale.back}}</button>
    <button class="btn btn-lg btn-success pull-right" type="button" ng-click="finish()">{{locale.finish}}</button>
</div>
