<div class="control-group">
    <h4 class="signin-heading black">{{locale.obsComplete}}</h4>
    <div class="signin">
        <blockquote class="{{!error||'error'}}" ng-show="error">
            <h5 class="text-danger">{{locale.selectpref}}</h5>
        </blockquote>
        <div class="container">
            <div class="sataction">         
                    <ul class="list-group">
                    <li class="list-group-item black">{{locale.obsSummary}} </li>
                    <li class="list-group-item"><b>{{locale.performanceCat}}:</b>&nbsp;{{observation.situation.name}}</li>
                    <li class="list-group-item"><b>{{locale.obsCat}}:</b>&nbsp;{{observation.cat.name}}</li>
                    <li class="list-group-item"><b>{{locale.obsType}}:</b>&nbsp;{{observation.type.name}}</li>
                    <li class="list-group-item"><b>{{locale.observation}}:</b>&nbsp;{{observation.summary}}</li>
                  </ul>
            </div>
            <div ng-show="observation.actions">
                <ul class="list-group">
                    <li class="list-group-item black"><b>{{locale.obsActions}}</b> </li>
                    <li class="list-group-item actions" ng-repeat="a in observation.actions">
                      {{a.organisation.organisationName}}, {{a.owner.userInfoName }},<br> <b>{{locale.actionType1}}</b> : {{a.type.name}}
                    </li>
                  </ul>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-default btn-lg btn-block" ng-click="add()">{{locale.addAction}}</button>
            </div>
        
<!--
            <div ng-show="loadingLarge" class="mainspin" centred-spin></div>
-->

            <!-- img id="capturepic" src="{{observation.picture}}" ng-show="observation.picture" / -->
            <!-- dont remove paras etc below - they ensure you can scroll to the bottom of the information -->
            <p class="space"></p>
        </div>



    </div>

<div class="modal fade" id="cancelObsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{locale.cancel}}</h4>
      </div>
      <div class="modal-body">
        <div ng-bind-html="locale.logoutMessage"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{locale.no}}</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="close()">{{locale.yes}}</button>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button type="submit" class="btn btn-danger btn-lg" ng-click="cancel()">{{locale.cancel}}</button>
    
    <div class="pull-right">
        <button type="submit" ng-show="observation.suspendedAudit && !requireAction" 
                class="btn btn-success btn-lg" ng-click="addAnotherObservation()">{{locale.addAnother}}</button>
        
        <button type="submit" class="btn btn-success btn-lg" ng-click="sendObservation()">
            {{requireAction ? locale.continue : locale.finish}} 
            <i class="fa fa-spinner fa-spin" ng-show="sendingObs"></i>
        </button>
    </div>
    
</div>