<div class="control-group">
    <h4 class="signin-heading black">{{locale.mycommissions}}</h4>
    <div class="signin" ng-show="loaded">
        <blockquote class="{{!error||'error'}}" ng-hide="commissions">
            <h5 class="text-danger">
                <div ng-bind-html="locale.msg2"></div>
            </h5>
        </blockquote>
        <div ng-show="commissions">
            <p></p>
        </div>
    </div>
    <div ng-show="!commissions" style="margin-top:100px;" centred-spin>
    </div>
    <div class="container" ng-show="commissions">
        <table class="table comms" >
            <tbody>
                <tr class="heading">
                    <td colspan="2">{{locale.allocatedComs}}</td>
                </tr>
                <tr class="title">
                    <td>{{locale.description}}</td>
                    <td class="right">{{locale.ref}}</td>
                </tr>
                <tr ng-repeat="comission in commissions">
                    <td>
                        {{comission.title}}
                    </td>
                    <td class="right">
                        ({{comission.referenceNo}})
                    </td>
                </tr>
            </tbody>
        </table>
        <h5>{{locale.userCommissions}}</h5>
    </div>
</div>

<p class="space"></p>

<div class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button type="submit" class="pull-right btn btn-success btn-lg" ng-click="selcomis()">{{locale.continue}}</button>
</div>