<div class="control-group" ng-hide="registered || !netstat"><!-- netstat -- network detection -->
    <h4 class="signin-heading black" ng-hide="waiting">{{locale.signin}}</h4>
    <div class="signin" id="sig" ng-hide="waiting">
        <!-- <h5 class="prompt" ng-hide="error">
                {{locale.loginprompt}}
            </h5>
-->
<!--added && logonstatus to ng-show so as to avoid to display an empty error box for empty logonstatus-->
        <!--blockquote class="{{!error||'error'}}" ng-show="error && logonstatus">
            <h5 class="text-danger" ng-show="logonstatus=='LOCKED'">{{locale.loginlocked}}</h5>
            <h5 class="text-danger" ng-show="logonstatus=='INVALIDPASSWORD'">{{locale.loginfail}}</h5>
            <h5 class="text-danger" ng-show="logonstatus=='NOLICENSE'">{{locale.loginlicense}}</h5>
            <h5 class="text-danger" ng-show="logonstatus=='TOOMANY'">{{locale.failed5}}</h5>
            <h5 class="text-danger" ng-show="logonstatus=='NONETWORK'">{{locale.netRequired}}</h5>
        </blockquote-->
        
        <div class="modal fade" id="errorModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{locale.loginunsuccessful}}</h4>
                    </div>
                    <div class="modal-body">
            <h5 class="text-danger w500" ng-show="logonstatus=='LOCKED'">{{locale.loginlocked}}</h5>
            <h5 class="text-danger w500" ng-show="logonstatus=='INVALIDPASSWORD'" ng-bind-html="locale.loginfail"></h5>
            <h5 class="text-danger w500" ng-show="logonstatus=='NOLICENSE'">{{locale.loginlicense}}</h5>
            <h5 class="text-danger w500" ng-show="logonstatus=='TOOMANY'">{{locale.failed5}}</h5>
            <h5 class="text-danger w500" ng-show="logonstatus=='NONETWORK'">{{locale.netRequired}}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pull-right btn btn-success btn-lg" data-dismiss="modal" ng-click="close()">{{locale.close}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="commsModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
                        <h4 class="modal-title">{{locale.netRequiredUseMobileTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        {{locale.netRequiredUseMobileForRegister}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pull-left btn btn-danger btn-lg" data-dismiss="modal" ng-click="close()">{{locale.no}}</button>
                        <button type="button" class="pull-right btn btn-success btn-lg" data-dismiss="modal" ng-click="register(true)">{{locale.yes}}</button>
                    </div>
                </div>
            </div>
        </div>
        
<!--
        <span class="fa fa-star"></span><span class="glyphicon glyphicon-asterisk"></span>
-->
        <form role="form" class="container">
            <div class="form-group {{error}}">
                <label for="username">Username</label>
                <input id="unameInput" type="text" class="form-control input-lg" autocapitalize="off" placeholder="Enter username" ng-required ng-model="uname">
            </div>
            <div class="form-group {{error}}">
                <label for="password">Password</label>
                <input id="pwordInput" type="password" class="form-control input-lg" autocapitalize="off" placeholder="Password" ng-required ng-model="pword">
            </div>
            <div class="centre">
                <div ng-show="!ready" centred-spin></div>
                <button ng-show="ready" type="submit" class="btn btn-default btn-lg" ng-click="register(false)">Enter</button>
            </div>
        </form>
    </div>
    
    <div ng-show="waiting" class="mainspin" centred-spin>
    </div>
</div>