<h4 class="signin-heading black">{{locale.socialnets}}</h4>
<div class="container">
    <div class="row">
      <h3>
       <div class="col-md-12">
           
          <a href="#/browser/https://twitter.com/TeamYellow"
          class="btn btn-medium btn-block btn-default btn-block" type="button">
            <p>
             <span class="fa fa-twitter fa-3x pull-left pad-left"></span>
             <div class="pull-left pad-left">{{locale.twitter}}</div>
               <br>
           </p> 
          </a>
          
        </div>    
      </h3>
    </div>
  </div>

<div class="container">
    <div class="row">
      <h3>
         <div class="col-md-12">
        
          
          <a href="#/browser/https://www.facebook.com/pages/YellowJacket/375565979130091" class="btn btn-medium btn-block btn-default btn-block" type="button">
           <p>
             <span class="fa fa-facebook-square fa-3x pull-left pad-left"></span>
             <div class="pull-left pad-left">{{locale.facebook}}</div>
               <br>
           </p> 
          </a>
        </div>    
      </h3>
    </div>
  </div>

<div class="container">
    <div class="row">
      <h3>
         <div class="col-md-12">
      
          <a href="#/browser/http://www.linkedin.com/groups?gid=3934680&trk=hb_side_g" class="btn btn-medium btn-block btn-default btn-block" >
            <p><span class="fa fa-linkedin fa-2x fa-3x pull-left pad-left"></span>
              <div class="pull-left pad-left">{{locale.linkedIn}}</div>
              <br>
            </p>
          </a>   
        </div>    
      </h3>
    </div>
  </div>

<!-- There is a YellowJacket youtube channel but the location has not been provided so code left in pending this being provided --

<div class="container">
    <div class="row">
      <h3>
        <div class="col-md-12">
        
          <a href="http://www.youtube.com" class="btn btn-medium btn-block btn-default btn-block" type="button">
            <p>
             <span class="fa fa-youtube fa-3x pull-left pad-left"></span>
             <div class="pull-left pad-left">{{locale.youTube}}</div>
               <br>
           </p> 
              </a>
          
        </div>    
      </h3>
    </div>
  </div>
End of YouTube button -->

<div class="navbar navbar-fixed-bottom pad-left pad-right black">
  <button class="btn btn-lg btn-white pull-left" type="button" ng-click="back()">
    {{locale.back}}
  </button>    
</div>