<h4 class="signin-heading black fixed-top" ng-hide="signedIn">{{locale.agreetncs}}</h4>
<h4 class="signin-heading black fixed-top" ng-show="signedIn">{{locale.viewtncs}}</h4>
<div>
    <div ng-show="loaded" ng-bind-html="tncs" class="tncs"></div>
    
    <div class="space"></div>
    <div ng-show="!loaded"  class="mainspin"  centred-spin>
</div>

<div id="nbar" class="navbar navbar-fixed-bottom pad-left pad-right black">
    <button type="submit" ng-hide="signedIn" class="pull-left btn btn-danger btn-lg" ng-click="disagree()">{{locale.disagree}}</button>
    <button type="submit" ng-hide="signedIn" class="pull-right btn btn-success btn-lg" ng-click="agree()">{{locale.agree}}</button>
    <button type="submit" ng-show="signedIn" class="pull-right btn btn-success btn-lg" ng-click="back()">{{locale.continue}}</button>
</div>
